# API
API_PORT=3000
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Database
DATABASE_URL=postgresql://dresscode:dresscode@localhost:5432/dresscode?schema=public

# Weather
OPENWEATHER_API_KEY=